{% extends './home.html' %}

{% block body%}
<!-- Panel de interacción -->
<div class="text-center">
    <img src="{{ url_for('static', filename='css/img/agavi.jpg') }}" alt="Logo" width="100" height="90" class="d-inline-block align-text-top">
    <p>Hola soy agavi... ¿cómo puedo ayudarte?</p>
    <p>Hi, I'm Agavi... How can I help you?</p>
    
    <div class="chat-box" data-bs-spy="scroll" data-bs-target="#navbar-example3" autocomplete="off" style="height: auto;">
      {% for persona, mensaje in respuestas_chat %}
          <div class="chat-message">
              {% if persona == "Tu" %}
                  <div class="message-content">
                      <img src="{{ url_for('static', filename='css/img/usuario.jpg') }}" alt="Logo">
                      <p class="badge text-bg-secondary ">
                          <strong>{{ persona }}:</strong> {{ mensaje }}
                      </p>
                  </div>
              {% endif %}
              
              {% if persona == "Agavi" %}
                  <div class="message-content">
                      <img class="float-xxl-end" src="{{ url_for('static', filename='css/img/agavi.jpg') }}" alt="Logo">
                      <p class="badge text-bg-success col-sm-12 float-xxl-start">
                          <strong>{{ persona }}:</strong> {{ mensaje }}
                      </p>
                  </div>
              {% endif %}
          </div>
          <br>
      {% endfor %}
  </div>
  <!-- Logo b2 under-->
  <div class="p-5 g-col-6">
    <p class="p-5"><img src="{{ url_for('static', filename='css/img/logob2.jpg') }}" alt="Logo" width="70" height="65" class="d-inline-block align-text-top"></p>
  </div>
  <!-- input y boton -->
  <div class="fixed-bottom form p-1">
    <form action="{{ url_for('home') }}" method="post" class="fixed-bottom form input-group ">
      <input type="text" name="askHuman" class="form-control" placeholder="Ej: ¿Dónde hay buenos restaurantes...? | Ex: Where are good restaurants...?" aria-label="Recipient's username" aria-describedby="button-addon2" required>
      <button class="btn btn-outline-success bg-body" type="submit" id="button-addon2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-text-fill" viewBox="0 0 16 16">
              <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
          </svg>
      </button>
  </form>
  </div>
    
    <div class=" fixed-bottom clear text-center">
      
        <!-- Botón para limpiar el chat utilizando JavaScript -->
        <div id="liveAlertPlaceholder" class=" fixed-bottom mx-auto p-5" ></div>
        <button type="button" class="btn btn-success " id="liveAlertBtn">Limpiar Chat</button>
        <br>
    

    
  </div>
    <!-- Script para ejecutar el boton -->
    <script>
      const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
const appendAlert = (message, type) => {
  const wrapper = document.createElement('div')
  wrapper.innerHTML = [
    `<div class="alert alert-${type} alert-dismissible" role="alert">`,
    `   <div>${message}</div>`,
    '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
    '</div>'
  ].join('')

  alertPlaceholder.append(wrapper)
}

const alertTrigger = document.getElementById('liveAlertBtn')
if (alertTrigger) {
  alertTrigger.addEventListener('click', () => {
    appendAlert('Para limpiar el chat escribe "limpiar"', 'success')
  })
}
    </script>
    <style>
      .chat-message {
          display: flex;
          gap: 10px;
          max-width: 80%; /* Limita el ancho del chat para que no ocupe todo el espacio */
      }

      .message-content {
          display: flex;
          align-items: center;
          justify-content: flex-start; /* Alinea el contenido al inicio del contenedor */
      }

      .message-content img {
        border-radius: 50%; /* Hace que la imagen sea redonda */
          width: 80px; /* Establece un tamaño fijo para la imagen */
          height: 80px;
          
      }

      .message-content p {
          flex-grow: 1;
          font-size: 16px; /* Ajusta el tamaño del texto */
          white-space: pre-wrap; /* Ajusta el texto automáticamente al ancho del contenedor y permite saltos de línea */
          text-align: left; /* Alinea el texto a la izquierda */
      }
      .fixed-bottom {
    position: fixed;
    bottom: 10px; /* Ajusta esta propiedad según la posición vertical deseada */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Centra horizontalmente */
      }
      .fixed-bottom.form {
    bottom: 100px; /* Ajusta la posición vertical para separar del siguiente contenedor */
      }

      .fixed-bottom.clear {
          bottom: 60px; /* Ajusta la posición vertical para separar del siguiente contenedor */
      }

      .fixed-bottom.additional {
          bottom: 20px; /* Ajusta la posición vertical para separar del siguiente contenedor */
      }
      
  </style>

{% endblock %}
